# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.naozyuewmtxubiudxuti:TXp6jhyfSyMZvsNc@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.naozyuewmtxubiudxuti:TXp6jhyfSyMZvsNc@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"


# JWT Configuration
JWT_SECRET=your-jwt-secret-key

SUPABASE_URL="https://naozyuewmtxubiudxuti.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hb3p5dWV3bXR4dWJpdWR4dXRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1ODE5MTQsImV4cCI6MjA5MjE1NzkxNH0.bOt_pU84McHwVYFFy_twcKQZ6bdPntmyGOWatrCJ7yY"
SUPABASE_JWT_SECRET="your-jwt-secret"

# Google OAuth Configuration
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
# For Android: use your app's SHA-1 fingerprint and package name
# For iOS: use your app's bundle ID
# For Web: use authorized JavaScript origins

# SMTP Configuration
SMTP_HOST=your-smtp-host
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=noreply@mindmate.com
SMTP_SECURE=false